.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}


.button:hover{
  -fx-background-color: #828252;
    -fx-background-radius: 10;
}

.button:pressed{
    -fx-background-color: #208280;
    -fx-background-radius: 50;
 }
.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}

.film-Name-Lable{
    font-family: "Lucida Console", "Courier New", monospace;
}

.fruity{
    font-family: "Friday13 Bonus NFI";
    background-color: #FF005C;
}

.boxy{
    -fx-border-color:  #FBB03B;
    -fx-border-width: 10;
 
}
.boxy2{
    -fx-border-color:  #FBB03B;
    -fx-border-width: 10 10 10 0;
   // -fx-border-left: none;
}

.letters{
     
    
   
    
}

